In [1]:
import pandas as pd

In [3]:
#load movie data
movies = pd.read_csv('raw/data.tsv', sep='\t')
movies = movies[movies.titleType == 'movie']
movies = movies[['tconst', 'titleType', 'originalTitle','startYear', 'genres']]
movies['genres'] .unique

C:\Users\luisa\AppData\Local\Temp\ipykernel_1720\3034390900.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('data.tsv', sep='\t')

In [7]:
selected_movies =(movies[['tconst', 'titleType', 'originalTitle','startYear']]).join(movies.genres.str.strip(',').str.split(',').str[0].str.get_dummies()[['Drama', 'Comedy', 'Romance', 'Thriller']])
selected_mov = selected_movies[~((selected_movies.Drama == 0) & (selected_movies.Comedy == 0) & (selected_movies.Romance == 0) & (selected_movies.Thriller == 0))]
selected_mov

In [11]:
mask = selected_mov.startYear.str.len() == 4
selected_mov = selected_mov.loc[mask]
selected_mov

In [13]:
filtered_dfs = []
for column in selected_mov[['Drama', 'Comedy','Romance','Thriller']]:
    ones_indices = selected_mov[selected_mov[column] == 1].head(500).index
    filtered_df = selected_mov.loc[ones_indices]
    filtered_dfs.append(filtered_df)
final_filtered_df = pd.concat(filtered_dfs, ignore_index=True)
list_movie = list(final_filtered_df.tconst)

In [16]:
#load actor data
act = pd.read_csv('data_2.tsv', sep='\t')

In [17]:
act.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0053137,tt0050419,tt0045537"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0038355,tt0075213"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0049189,tt0056404,tt0057345,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0077975,tt0080455,tt0072562"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050976,tt0069467,tt0083922,tt0050986"

In [18]:
act2 =(act[['nconst', 'primaryName', 'knownForTitles']]).join(act.primaryProfession.str.strip(',').str.split(',').str[0].str.get_dummies())

In [19]:
act3 = act2[['nconst', 'actor','primaryName','actress','knownForTitles','director']]
act3[act3.director==1]

,nconst,actor,primaryName,actress,knownForTitles,director
32,nm0000033,0,Alfred Hitchcock,0,"tt0052357,tt0056869,tt0053125,tt0054215",1
39,nm0000040,0,Stanley Kubrick,0,"tt0066921,tt0120663,tt0072684,tt0062622",1
87,nm0000088,0,Aleksey Korenev,0,"tt0068304,tt0191104,tt0149586,tt0100069",1
90,nm0000091,0,Gérard Pirès,0,"tt0064297,tt0421974,tt0282552,tt0152930",1
230,nm0000231,0,Oliver Stone,0,"tt0110632,tt0096969,tt0102138,tt0091763",1
...,...,...,...,...,...,...
12765380,nm9993420,0,Viorel Damian,0,tt8743232,1
12765400,nm9993446,0,Adriana Gilma,0,tt8743296,1
12765579,nm9993645,0,Fotis Georgopoulos,0,tt8743742,1
12765608,nm9993679,0,Art Jones,0,tt8744074,1
12765624,nm9993696,0,Ibrahim-Aloduley,0,tt8744160,1

In [20]:
act3 = act3[act3.knownForTitles.str.len() > 3]

In [21]:
act3  =act3[~((act3.actor == 0 ) & (act3.actress == 0) & (act3.director == 0))]
act3[act3.director==1]

,nconst,actor,primaryName,actress,knownForTitles,director
32,nm0000033,0,Alfred Hitchcock,0,"tt0052357,tt0056869,tt0053125,tt0054215",1
39,nm0000040,0,Stanley Kubrick,0,"tt0066921,tt0120663,tt0072684,tt0062622",1
87,nm0000088,0,Aleksey Korenev,0,"tt0068304,tt0191104,tt0149586,tt0100069",1
90,nm0000091,0,Gérard Pirès,0,"tt0064297,tt0421974,tt0282552,tt0152930",1
230,nm0000231,0,Oliver Stone,0,"tt0110632,tt0096969,tt0102138,tt0091763",1
...,...,...,...,...,...,...
12765380,nm9993420,0,Viorel Damian,0,tt8743232,1
12765400,nm9993446,0,Adriana Gilma,0,tt8743296,1
12765579,nm9993645,0,Fotis Georgopoulos,0,tt8743742,1
12765608,nm9993679,0,Art Jones,0,tt8744074,1
12765624,nm9993696,0,Ibrahim-Aloduley,0,tt8744160,1

In [22]:
act3 = act3[act3.knownForTitles.isin(list_movie)]

In [23]:
tog = act3.merge(selected_mov, right_on='tconst', left_on='knownForTitles', how='outer').dropna()

In [24]:
gen = tog[['Drama', 'Comedy', 'Romance', 'Thriller']]
new = gen.dot(gen.columns)
tog['genres'] = new
tog[['actor','actress','director']] = tog[['actor','actress','director']].astype(int)
job = tog[['actor','actress','director']]
tog['job'] = job.dot(job.columns)
tog

,nconst,actor,primaryName,actress,knownForTitles,director,tconst,titleType,originalTitle,startYear,Drama,Comedy,Romance,Thriller,genres,job
0,nm0007562,1,Imad Ab on Khaled,0,tt0098544,0,tt0098544,movie,Täcknamn Coq Rouge,1989,0,0,0,1,Thriller,actor
1,nm0196878,1,Emad Daher,0,tt0098544,0,tt0098544,movie,Täcknamn Coq Rouge,1989,0,0,0,1,Thriller,actor
2,nm0251614,1,Husein Abu Eid,0,tt0098544,0,tt0098544,movie,Täcknamn Coq Rouge,1989,0,0,0,1,Thriller,actor
3,nm0259524,1,Hans Erlandsson,0,tt0098544,0,tt0098544,movie,Täcknamn Coq Rouge,1989,0,0,0,1,Thriller,actor
4,nm0323487,1,Ibrahim Gneim,0,tt0098544,0,tt0098544,movie,Täcknamn Coq Rouge,1989,0,0,0,1,Thriller,actor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3087,nm9324389,1,Gunnel Holzhausen,0,tt0002514,0,tt0002514,movie,De svarta maskerna,1912,1,0,0,0,Drama,actor
3088,nm9507151,0,Frl. Stoike,1,tt0001914,0,tt0001914,movie,Die Sünden der Väter,1913,1,0,0,0,Drama,actress
3089,nm9843327,1,N. Moroz,0,tt0083794,0,tt0083794,movie,Davay pozhenimsya,1982,0,0,1,0,Romance,actor
3090,nm9843328,1,V. Kalashnikov,0,tt0083794,0,tt0083794,movie,Davay pozhenimsya,1982,0,0,1,0,Romance,actor
3091,nm9965330,1,Michael Hetym,0,tt0094944,0,tt0094944,movie,Dancing in the Forest,1989,0,0,0,1,Thriller,actor

In [25]:
grouped = tog.groupby('tconst')
for name,group in grouped:
    print(group.index[0])

726
1504
1675
2691
1498
2356
2210
2948
388
2547
2956
1448
2631
3088
359
1357
2842
2942
697
1491
2584
952
1707
3087
2786
2208
2947
1972
2806
2880
1792
2930
2701
2477
2373
2881
2706
791
1312
2023
1456
3006
2580
591
1768
2222
595
2435
1585
2343
679
1307
2992
2712
2125
2364
1273
1739
2071
2196
1745
1826
703
2018
2361
2062
2233
1330
1406
2305
1775
2120
1556
852
870
1809
1542
2126
2342
1084
2044
2029
557
904
2106
2123
2943
1451
2695
1596
3025
574
2530
1718
1586
2505
2473
2491
1818
1041
702
2064
1663
1046
2192
1061
2177
1600
1871
1429
2300
2371
2256
2008
2365
1885
1035
119
1345
2431
1815
1201
391
1054
2359
1042
1310
2224
315
2017
2212
2163
885
1719
2889
1536
2228
1591
845
1761
1856
1662
2344
1755
120
1032
471
1659
2176
1882
2808
951
1785
1672
1767
2283
1805
689
1274
2526
2938
2986
2211
656
81
2346
1455
2553
688
3004
3009
1806
1737
1721
2368
1514
2154
3029
2636
2345
1640
1994
1835
1278
1788
2255
316
2117
2637
1572
1939
1512
2385
2104
1454
2052
2199
1443
1135
2054
1764
2170
1230
1036
947
1766
2248
1565
1575
724
2771
1037
2332
1800
869
1801
1995
3013
517
515
1827
108
2180
1763
1834
756
2328
2453
430
1008
1725
1098
1782
2019
1280
1613
2045
1535
2162
1132
2252
1816
1411
1039
2329
2254
1102
2596
2288
1352
2287
2201
2330
832
1516
674
823
2060
2529
946
2552
1831
878
1394
1433
1540
431
440
1802
2709
953
911
1986
2121
2020
313
2077
1466
2360
468
1762
2099
1446
2422
1836
1023
2007
1051
2527
1776
1942
1052
1677
1473
2768
310
1405
1958
762
1410
1030
2005
1462
2047
1615
1465
2226
2186
1288
1983
1432
1837
319
2059
1798
1229
105
755
1508
1055
2098
2348
1332
2367
188
2621
2198
1461
1795
1060
2280
2127
1544
1796
1713
169
2102
2372
670
1839
877
692
1832
1952
1519
1453
1419
2223
2101
504
33
2040
1537
1561
2358
1558
2115
2061
2401
1276
2277
2457
843
1758
476
2190
2063
1103
2612
1879
485
906
2331
2258
2175
753
2227
1780
2327
1349
1938
1243
1673
2451
2159
1346
1883
1797
1629
751
1414
1691
1570
1513
2051
1048
2444
1203
1404
2193
2465
2057
2541
1840
2772
2436
2515
2774
2692
1717
644
2773
711
2941
2693
2777
2862
2632
1333
2416
2811
1617
2951
2471
2564
2262
2272
2667
2605
2273
2249
1087
2349
2622
2639
1734
2155
2009
2386
2655
2554
2185
2141
3079
1778
1996
1409
1003
3031
2041
1988
693
1576
2736
2787
2357
2846
1300
2548
2109
2078
2834
2923
2699
2653
2630
2603
2703
2921
2591
1568
472
594
2583
2887
2702
2837
2558
2936
1347
2213
2021
3034
2072
2765
2178
2489
1772
2321
1044
3030
2030
3027
2888
2860
2593
2589
2523
2129
1661
958
1962
469
2513
2713
3074
1833
707
2284
705
3075
2055
2394
276
3016
1971
1991
2700
1460
2500
2024
1397
2792
1015
1449
2810
2929
2475
742
2134
1853
673
2828
3086
2131
2053
2708
898
2581
2776
3048
1286
2711
2927
2809
2470
2347
2427
1620
2282
2033
2868
2830
3032
2549
36
1849
1315
3085
2514
2397
490
3015
2696
2080
1873
956
2307
3046
1804
484
1136
1630
2720
2209
2114
2428
2315
2429
2643
738
1678
3033
415
2028
829
2450
3023
1306
2391
1467
1664
1857
2788
2504
1313
1056
1886
2875
2507
2234
764
1140
1602
2839
3081
1057
3076
2458
2600
1877
2847
903
769
2714
2467
2789
2168
1549
2478
378
1335
1085
2939
2058
2181
2598
871
1245
2867
2783
683
1562
1071
2179
2302
801
883
1726
491
2194
3089
2812
2188
846
2940
3014
2861
106
833
1688
373
2065
1521
2290
1642
1416
2464
1283
1984
2390
2575
1973
778
934
1294
856
2882
879
2885
2274
2521
596
1735
2160
2931
2607
1239
2049
2522
1715
2524
1317
2362
2724
2917
2379
2392
2437
771
2492
2026
1887
2142
1497
773
1149
2785
1959
640
2644
123
2610
1523
2079
2688
2779
3091
307
2722
1225
573
1680
1823
887
1290
1681
746
2873
1444
1434
2613
2814
2844
1354
2869
1222
811
1692
2440
1935
2304
2769
2229
2937
0
2718
353
2202
140
662
2253
1500
2740
2863
2590
1364
2638
356
2414
2301
2462
1605
2978
610
1754
480
1546
2662
1104
2235
2278
2216
1981
558
2469
2528
2112
820
770
704
1198
1709
1975
2395
2048
414
2474
2559
987
2402
2656
1004
1501
1474
2276
2164
2139
1412
129
694
82
143
2169
2171
1616
587
265
1547
3063
406
618
1204
1509
1810
1559
1865
1025
328
1954
1090
1236
973
1566
920
1552
1431
978
441
715
1309
663
826
279
1704
2985
2623
1469
1751
2640
2035
396
3028
1993
651
2611
1391
3005
1990
1143
2207
998
2721
1701
2354
1442
1639
2314
625
2137
835
1027
728
384
2247
1422
1714
2455
2728
1732
1875
508
214
2257
2095
367
370
1510
172
1821
14
2950
1417
1878
2103
1555
2341
2369
2281
2843
514
1049
1340
2333
193
830
1447
2215
1828
321
518
1633
1531
1067
2585
2447
2197
116
2025
1463
2013
913
1400
1093
2438
380
2502
355
1643
1880
3024
3080
2926
2872
2805
2635
1420
2563
1943
824
2118
2174
897
1232
2259
3011
2565
2275
1817
2472
1961
2726
785

In [26]:
tog.to_csv('tog.csv', index=False)

In [27]:
from rdflib import Graph, URIRef, RDF, Literal, Namespace
from rdflib.namespace import RDF
ex = Namespace('http://imdb.org/')
ont = Namespace('http://imdb.org/ontology/')
has_genre_uri = URIRef(ont+'has_genre')
director_uri = URIRef(ont+'has_director')
dir_mov_uri = URIRef(ont+'directed_by')
cast_uri = URIRef(ont+'has_actor')
cast_mov_uri = URIRef(ont+'acted_in')
published_uri = URIRef(ont+'published_in')
collab_uri = URIRef(ont+'collabs_with')
prefers_genre = URIRef(ont+'preferred_by')

dict = {}
test_train = []
rdf_graph = Graph()
grouped = tog.groupby('tconst')
id = 0 
for name, group in grouped:
    index = group.index[0]
    movie_id = name
    id += 1
    movie_uri = URIRef(ex+'mov'+str(movie_id))
    movie_title = group['originalTitle'][index]
    movie_genres = group['genres'][index]
    movie_year  = group['startYear'][index]
    year_uri = URIRef(ex+'year'+str(movie_year))

    rdf_graph.add((movie_uri, published_uri, year_uri))
    genre_uri = URIRef(ex+'gen'+movie_genres)
    test_train.append([movie_uri, id, genre_uri])
    print(name)
    print(group)
    for row in enumerate(group.index):
        print(row)
        if group.job[row[1]] == 'director':
            director_id = group['nconst'][row[1]]
            print(director_id)
            director_uri = URIRef(ex+'dir'+director_id)
            rdf_graph.add((movie_uri, dir_mov_uri, director_uri))
            rdf_graph.add((director_uri, dir_mov_uri, movie_uri))
            
        elif group.job[row[1]] == 'actor':
            actor_id = group['nconst'][row[1]]
            print(actor_id)
            actor_uri = URIRef(ex+'act'+actor_id)
            rdf_graph.add((movie_uri, cast_uri, actor_uri))
            rdf_graph.add((actor_uri, cast_mov_uri, movie_uri))
            rdf_graph.add((actor_uri, collab_uri, director_uri))
            rdf_graph.add((director_uri, collab_uri, actor_uri))
            rdf_graph.add((genre_uri, prefers_genre, actor_uri))
            rdf_graph.add((genre_uri, prefers_genre, director_uri))

tt0000009
        nconst  actor      primaryName  actress knownForTitles  director  \
726  nm0063086      0  Blanche Bayliss        1      tt0000009         0
727  nm0085156      0  Alexander Black        0      tt0000009         1

        tconst titleType originalTitle startYear  Drama  Comedy  Romance  \
726  tt0000009     movie    Miss Jerry      1894      0       0        1
727  tt0000009     movie    Miss Jerry      1894      0       0        1

     Thriller   genres       job
726         0  Romance   actress
727         0  Romance  director
(0, 726)
(1, 727)
nm0085156
tt0000615
         nconst  actor      primaryName  actress knownForTitles  director  \
1504  nm0218953      0    Rhoda Dendron        1      tt0000615         0
1505  nm0240418      1     William Duff        0      tt0000615         0
1506  nm0346387      1     Arthur Guest        0      tt0000615         0
1507  nm0581353      1  George Merriman        0      tt0000615         0

         tconst titleType       originalTitle startYear  Drama  Comedy  \
1504  tt0000615     movie  Robbery Under Arms      1907      1       0
1505  tt0000615     movie  Robbery Under Arms      1907      1       0
1506  tt0000615     movie  Robbery Under Arms      1907      1       0
1507  tt0000615     movie  Robbery Under Arms      1907      1       0

      Romance  Thriller genres      job
1504        0         0  Drama  actress
1505        0         0  Drama    actor
1506        0         0  Drama    actor
1507        0         0  Drama    actor
(0, 1504)
(1, 1505)
nm0240418
(2, 1506)
nm0346387
(3, 1507)
nm0581353
tt0000941
         nconst  actor        primaryName  actress knownForTitles  director  \
1675  nm0294022      0     Elvira Fremont        1      tt0000941         0
1676  nm0478718      0  Amelia de la Mata        1      tt0000941         0

         tconst titleType   originalTitle startYear  Drama  Comedy  Romance  \
1675  tt0000941     movie  Locura de amor      1909      1       0        0
1676  tt0000941     movie  Locura de amor      1909      1       0        0

      Thriller genres      job
1675         0  Drama  actress
1676         0  Drama  actress
(0, 1675)
(1, 1676)
tt0001175
         nconst  actor primaryName  actress knownForTitles  director  \
2691  nm1808145      0       Pitou        1      tt0001175         0

         tconst titleType         originalTitle startYear  Drama  Comedy  \
2691  tt0001175     movie  La dame aux camélias      1912      1       0

      Romance  Thriller genres      job
2691        0         0  Drama  actress
(0, 2691)
tt0001341
         nconst  actor                    primaryName  actress knownForTitles  \
1498  nm0218175      0  Marie Demartiniová-Hradcanská        1      tt0001341
1499  nm1024681      0                Josef Kricenský        0      tt0001341

      director     tconst titleType               originalTitle startYear  \
1498         0  tt0001341     movie  Jarní sen starého mládence      1913
1499         1  tt0001341     movie  Jarní sen starého mládence      1913

      Drama  Comedy  Romance  Thriller  genres       job
1498      0       1        0         0  Comedy   actress
1499      0       1        0         0  Comedy  director
(0, 1498)
(1, 1499)
nm1024681
tt0001370
         nconst  actor    primaryName  actress knownForTitles  director  \
2356  nm0896618      0  Amelia Vieira        1      tt0001370         0

         tconst titleType                          originalTitle startYear  \
2356  tt0001370     movie  Rainha Depois de Morta Inês de Castro      1910

      Drama  Comedy  Romance  Thriller genres      job
2356      1       0        0         0  Drama  actress
(0, 2356)
tt0001440
         nconst  actor primaryName  actress knownForTitles  director  \
2210  nm0723668      0  Karen Rich        1      tt0001440         0

         tconst titleType  originalTitle startYear  Drama  Comedy  Romance  \
2210  tt0001440     movie  Valdemar Sejr      1910      1       0        0

      Thriller genres      job
2210         0  Drama  actress
(0, 2210)
tt0001603
         nconst  actor             primaryName  actress knownForTitles  \
2948  nm5239866      0  Ane Marie Christiansen        1      tt0001603
2949  nm5239890      1           Vilhelm Wiehe        0      tt0001603

      director     tconst titleType    originalTitle startYear  Drama  Comedy  \
2948         0  tt0001603     movie  Den farlige leg      1911      1       0
2949         0  tt0001603     movie  Den farlige leg      1911      1       0

      Romance  Thriller genres      job
2948        0         0  Drama  actress
2949        0         0  Drama    actor
(0, 2948)
(1, 2949)
nm5239890
tt0001604
        nconst  actor    primaryName  actress knownForTitles  director  \
388  nm0030667      1   Master Anson        0      tt0001604         0
389  nm0163519      0     Miss Clare        1      tt0001604         0
390  nm0376556      1  Mr. Henderson        0      tt0001604         0

        tconst titleType      originalTitle startYear  Drama  Comedy  Romance  \
388  tt0001604     movie  The Fatal Wedding      1911      1       0        0
389  tt0001604     movie  The Fatal Wedding      1911      1       0        0
390  tt0001604     movie  The Fatal Wedding      1911      1       0        0

     Thriller genres      job
388         0  Drama    actor
389         0  Drama  actress
390         0  Drama    actor
(0, 388)
nm0030667
(1, 389)
(2, 390)
nm0376556
tt0001614
          nconst  actor primaryName  actress knownForTitles  director  \
2547  nm12738281      1       Carré        0      tt0001614         0

         tconst titleType   originalTitle startYear  Drama  Comedy  Romance  \
2547  tt0001614     movie  De fire djævle      1911      1       0        0

      Thriller genres    job
2547         0  Drama  actor
(0, 2547)
nm12738281
tt0001790
         nconst  actor      primaryName  actress knownForTitles  director  \
2956  nm5298289      1           Sterny        0      tt0001790         0
2957  nm5300051      1            Taldy        0      tt0001790         0
2958  nm5300508      1          Sarbord        0      tt0001790         0
2959  nm5300574      1        Defresnes        0      tt0001790         0
2960  nm5671387      0   Madame Gravier        1      tt0001790         0
2961  nm5671389      0        Marialise        1      tt0001790         0
2962  nm5671396      0         Mac-Lean        1      tt0001790         0
2963  nm5671398      1  Etienne Scipion        0      tt0001790         0
2964  nm5671404      1          Reynold        0      tt0001790         0
2965  nm5671410      0     Angèle Nadir        1      tt0001790         0
2966  nm5671416      1          Rivière        0      tt0001790         0
2967  nm5671417      0  Germaine Bartet        1      tt0001790         0
2968  nm5671419      1             Wyll        0      tt0001790         0
2969  nm5671426      1          Bresson        0      tt0001790         0
2970  nm5671431      1      Pierre Casa        0      tt0001790         0
2971  nm5671432      0           Becker        1      tt0001790         0
2972  nm5671433      1           Lebrun        0      tt0001790         0
2973  nm5671437      0        D. Vallée        1      tt0001790         0
2974  nm5671441      1    Jules Gravier        0      tt0001790         0
2975  nm5671444      1          Terrier        0      tt0001790         0
2976  nm5671447      0         Darsange        1      tt0001790         0
2977  nm5671450      1        Longcupée        0      tt0001790         0

         tconst titleType                            originalTitle startYear  \
2956  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2957  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2958  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2959  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2960  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2961  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2962  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2963  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2964  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2965  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2966  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2967  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2968  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2969  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2970  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2971  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2972  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2973  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2974  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2975  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2976  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913
2977  tt0001790     movie  Les misérables - Époque 1: Jean Valjean      1913

      Drama  Comedy  Romance  Thriller genres      job
2956      1       0        0         0  Drama    actor
2957      1       0        0         0  Drama    actor
2958      1       0        0         0  Drama    actor
2959      1       0        0         0  Drama    actor
2960      1       0        0         0  Drama  actress
2961      1       0        0         0  Drama  actress
2962      1       0        0         0  Drama  actress
2963      1       0        0         0  Drama    actor
2964      1       0        0         0  Drama    actor
2965      1       0        0         0  Drama  actress
2966      1       0        0         0  Drama    actor
2967      1       0        0         0  Drama  actress
2968      1       0        0         0  Drama    actor
2969      1       0        0         0  Drama    actor
2970      1       0        0         0  Drama    actor
2971      1       0        0         0  Drama  actress
2972      1       0        0         0  Drama    actor
2973      1       0        0         0  Drama  actress
2974      1       0        0         0  Drama    actor
2975      1       0        0         0  Drama    actor
2976      1       0        0         0  Drama  actress
2977      1       0        0         0  Drama    actor
(0, 2956)
nm5298289
(1, 2957)
nm5300051
(2, 2958)
nm5300508
(3, 2959)
nm5300574
(4, 2960)
(5, 2961)
(6, 2962)
(7, 2963)
nm5671398
(8, 2964)
nm5671404
(9, 2965)
(10, 2966)
nm5671416
(11, 2967)
(12, 2968)
nm5671419
(13, 2969)
nm5671426
(14, 2970)
nm5671431
(15, 2971)
(16, 2972)
nm5671433
(17, 2973)
(18, 2974)
nm5671441
(19, 2975)
nm5671444
(20, 2976)
(21, 2977)
nm5671450
tt0001812
         nconst  actor       primaryName  actress knownForTitles  director  \
1448  nm0207207      0  Suzanne de Baere        1      tt0001812         0

         tconst titleType originalTitle startYear  Drama  Comedy  Romance  \
1448  tt0001812     movie   Oedipus Rex      1911      1       0        0

      Thriller genres      job
1448         0  Drama  actress
(0, 1448)
tt0001892
         nconst  actor    primaryName  actress knownForTitles  director  \
2631  nm1547973      1  Poul Baastrup        0      tt0001892         0

         tconst titleType   originalTitle startYear  Drama  Comedy  Romance  \
2631  tt0001892     movie  Den sorte drøm      1911      1       0        0

      Thriller genres    job
2631         0  Drama  actor
(0, 2631)
nm1547973
tt0001914
         nconst  actor  primaryName  actress knownForTitles  director  \
3088  nm9507151      0  Frl. Stoike        1      tt0001914         0

         tconst titleType         originalTitle startYear  Drama  Comedy  \
3088  tt0001914     movie  Die Sünden der Väter      1913      1       0

      Romance  Thriller genres      job
3088        0         0  Drama  actress
(0, 3088)
tt0002026
        nconst  actor        primaryName  actress knownForTitles  director  \
359  nm0027708      1    Johan Andersson        0      tt0002026         0
360  nm0115982      1       Ole Brun Lie        0      tt0002026         0
361  nm0259235      0       Adam Eriksen        0      tt0002026         1
362  nm0348052      0    Aagot Gundersen        1      tt0002026         0
363  nm0418086      0  Julie Jansen-Fuhr        1      tt0002026         0
364  nm0526167      0       Gunlaug Lund        1      tt0002026         0
365  nm0959065      0         Fru Zwinge        1      tt0002026         0
366  nm0959066      1    Waldemar Zwinge        0      tt0002026         0

        tconst titleType              originalTitle startYear  Drama  Comedy  \
359  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
360  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
361  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
362  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
363  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
364  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
365  tt0002026     movie  Anny - en gatepiges roman      1912      1       0
366  tt0002026     movie  Anny - en gatepiges roman      1912      1       0

     Romance  Thriller genres       job
359        0         0  Drama     actor
360        0         0  Drama     actor
361        0         0  Drama  director
362        0         0  Drama   actress
363        0         0  Drama   actress
364        0         0  Drama   actress
365        0         0  Drama   actress
366        0         0  Drama     actor
(0, 359)
nm0027708
(1, 360)
nm0115982
(2, 361)
nm0259235
(3, 362)
(4, 363)
(5, 364)
(6, 365)
(7, 366)
nm0959066
tt0002101
         nconst  actor       primaryName  actress knownForTitles  director  \
1357  nm0179917      1        Mr. Corker        0      tt0002101         0
1358  nm0276160      0     Miss Fielding        1      tt0002101         0
1359  nm0651716      1       Mr. Osborne        0      tt0002101         0
1360  nm0666930      1          Mr. Paul        0      tt0002101         0
1361  nm0733482      0       Miss Robson        1      tt0002101         0
1362  nm0935805      0       Miss Winter        1      tt0002101         0
1363  nm1950505      1  Charles Sindelar        0      tt0002101         0

         tconst titleType originalTitle startYear  Drama  Comedy  Romance  \
1357  tt0002101     movie     Cleopatra      1912      1       0        0
1358  tt0002101     movie     Cleopatra      1912      1       0        0
1359  tt0002101     movie     Cleopatra      1912      1       0        0
1360  tt0002101     movie     Cleopatra      1912      1       0        0
1361  tt0002101     movie     Cleopatra      1912      1       0        0
1362  tt0002101     movie     Cleopatra      1912      1       0        0
1363  tt0002101     movie     Cleopatra      1912      1       0        0

      Thriller genres      job
1357         0  Drama    actor
1358         0  Drama  actress
1359         0  Drama    actor
1360         0  Drama    actor
1361         0  Drama  actress
1362         0  Drama  actress
1363         0  Drama    actor
(0, 1357)
nm0179917
(1, 1358)
(2, 1359)
nm0651716
(3, 1360)
nm0666930
(4, 1361)
(5, 1362)
(6, 1363)
nm1950505
tt0002153
         nconst  actor  primaryName  actress knownForTitles  director  \
2842  nm2899817      0  Ellen Ræder        1      tt0002153         0

         tconst titleType                         originalTitle startYear  \
2842  tt0002153     movie  Dødsspring til hest fra cirkuskuplen      1912

      Drama  Comedy  Romance  Thriller genres      job
2842      1       0        0         0  Drama  actress
(0, 2842)
tt0002211
         nconst  actor primaryName  actress knownForTitles  director  \
2942  nm5174247      0  Marie Ring        1      tt0002211         0

         tconst titleType       originalTitle startYear  Drama  Comedy  \
2942  tt0002211     movie  Den glade løjtnant      1912      0       0

      Romance  Thriller   genres      job
2942        1         0  Romance  actress
(0, 2942)
tt0002361
        nconst  actor     primaryName  actress knownForTitles  director  \
697  nm0058020      1        J. Barry        0      tt0002361         0
698  nm0397639      1      Tim Howard        0      tt0002361         0
699  nm0431898      0   Dorothy Judge        1      tt0002361         0
700  nm0502780      1     Tom Leonard        0      tt0002361         0
701  nm0523464      1  Victor Loydall        0      tt0002361         0

        tconst titleType         originalTitle startYear  Drama  Comedy  \
697  tt0002361     movie  The Midnight Wedding      1912      1       0
698  tt0002361     movie  The Midnight Wedding      1912      1       0
699  tt0002361     movie  The Midnight Wedding      1912      1       0
700  tt0002361     movie  The Midnight Wedding      1912      1       0
701  tt0002361     movie  The Midnight Wedding      1912      1       0

     Romance  Thriller genres      job
697        0         0  Drama    actor
698        0         0  Drama    actor
699        0         0  Drama  actress
700        0         0  Drama    actor
701        0         0  Drama    actor
(0, 697)
nm0058020
(1, 698)
nm0397639
(2, 699)
(3, 700)
nm0502780
(4, 701)
nm0523464
tt0002405
         nconst  actor       primaryName  actress knownForTitles  director  \
1491  nm0216781      0  Lillian DeLesque        1      tt0002405         0
1492  nm0447707      1    Frank Kendrick        0      tt0002405         0
1493  nm0713815      1       Daniel Read        0      tt0002405         0
1494  nm0821275      1    Frank Stafford        0      tt0002405         0
1495  nm0831700      0       Agnes Stone        1      tt0002405         0
1496  nm0925150      0      Louise White        1      tt0002405         0

         tconst titleType originalTitle startYear  Drama  Comedy  Romance  \
1491  tt0002405     movie  Oliver Twist      1912      1       0        0
1492  tt0002405     movie  Oliver Twist      1912      1       0        0
1493  tt0002405     movie  Oliver Twist      1912      1       0        0
1494  tt0002405     movie  Oliver Twist      1912      1       0        0
1495  tt0002405     movie  Oliver Twist      1912      1       0        0
1496  tt0002405     movie  Oliver Twist      1912      1       0        0

      Thriller genres      job
1491         0  Drama  actress
1492         0  Drama    actor
1493         0  Drama    actor
1494         0  Drama    actor
1495         0  Drama  actress
1496         0  Drama  actress
(0, 1491)
(1, 1492)
nm0447707
(2, 1493)
nm0713815
(3, 1494)
nm0821275
(4, 1495)
(5, 1496)
tt0002406
         nconst  actor primaryName  actress knownForTitles  director  \
2584  nm1360649      1  Mr. Rivary        0      tt0002406         0

         tconst titleType originalTitle startYear  Drama  Comedy  Romance  \
2584  tt0002406     movie  Oliver Twist      1912      1       0        0

      Thriller genres    job
2584         0  Drama  actor
(0, 2584)
nm1360649
tt0002445
        nconst  actor    primaryName  actress knownForTitles  director  \
952  nm0104675      0  Olga Brandini        1      tt0002445         0

        tconst titleType originalTitle startYear  Drama  Comedy  Romance  \
952  tt0002445     movie    Quo Vadis?      1913      1       0        0

     Thriller genres      job
952         0  Drama  actress
(0, 952)
tt0002461
         nconst  actor      primaryName  actress knownForTitles  director  \
1707  nm0312600      1      Robert Gemp        0      tt0002461         0
1708  nm0710297      0  Virginia Rankin        1      tt0002461         0


In [28]:
rdf_graph.serialize('imdb_graph.nt', format='nt')

c:\Users\luisa\anaconda3\envs\aifb\lib\site-packages\rdflib\plugins\serializers\nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

In [70]:
train = pd.DataFrame(test_train, columns=['movie', 'id','genre'])

from sklearn.model_selection import train_test_split
def stratified_train_test_split(train_test):
    train, test = train_test_split(train_test, test_size=0.04, random_state=42, stratify=train_test['genre'])
    return train, test
train, test = stratified_train_test_split(train)
test
train.to_csv('training_Set_new.csv', index=False)
test.to_csv('test_Set_new.csv', index=False)